<template>
        <div style="display:inline-block;margin:10px;">
                       <ul style="background:#13136f;width: 150px;height: 200px;list-style-type:none;">
                       <li>
                       <p>玩家: {{ count.player1 }}</p>
                       </li>
                       <li>
                       <p style="font-size:20px;color:yellowgreen;">已准备</p>
                       </li>
                       <li>
                       <p>对方押注: {{count.coin}}</p>
                       </li>
                       <li>
                       <div style="background:#15dc15;margin-right:110px;">
                           <button v-on:click="changle">挑战</button>
                       </div>
                       </li>
                       </ul>
       </div>

</template>


<script>

import store from '../store/'
import Eos from 'eosjs'

export default {
    name: 'changle',
    props: ['count'],
    methods: {
       changle: async function(){

               const account = store.state.account;
                  var timestamp = account.name + (new Date()).valueOf();
                  const eosOptions = {expireInSeconds: 60, verbose: false};
                  var memo = '1' +'-' +  timestamp  +'-' + '20' + '-' + this.count.id;
                  const eos = store.state.scatter.eos(store.state.network, Eos, eosOptions);
                  const transactionOptions = {authorization: [`${account.name}@${account.authority}`]};
                  console.log(memo,"memo", this.count.coin)
                  let trx = await eos.transfer(account.name, "pythongolang", this.count.coin, memo, transactionOptions).catch(this.showDealMsg);            
                  if (!trx) {
                      return;
                  }
                  while(true)
                  {
                  let tableData = await eos.getTableRows({
                       json: true,
                       code: 'pythongolang',
                       scope: 'pythongolang',
                       table: 'bugyou',
                       limit: '200',
                      });
                   let rows = tableData.rows.filter((r) => {
                       return (r.id === this.count.id && r.card2 != "");
                   });
                   if (rows.length === 0) {
                      console.log("获取数据失败")
                   }
                   else{
                      let fightData = rows.pop()
                      store.commit('fightdata', fightData)
                      break
                   }
                   }
                  
                  this.$router.push({
                      path: `/gate/${this.count.id}`,
                  })
       }
        
    }
}

</script>

<style>
.vsgame{ display:inline-block;font-size: 50px;padding: 20px;color: greenyellow;}

</style>
