<template>
   <div class="creategame">   
           <div>
                 <span class="sp">欢迎玩家创建游戏</span>
           </div>
           <div class="in">
           
           <span>请输入每组最小押注</span>
           <input type="text" name="输入押注大小" value="3">
           <span>支付 {{total}}</span>
           </div>
           <div class="start">
           <button v-on:click="domsg">创建游戏</button>
           </div>
   </div>

</template>

<script>
import store from '../store/'
import Eos from 'eosjs'

export default {
     name: 'creategame',
     data: function(){
          return {coin:0.1}
     },
     computed: {
         total : function(){
              return this.coin * 3
          }
     },
     methods: {
          domsg: async function(){
                  const account = store.state.account;
                  var timestamp = account.name + (new Date()).valueOf();
                  const eosOptions = {expireInSeconds: 60, verbose: false};
                  var memo = '0' +'-' +  timestamp  +'-' + '20' + '-' + '0';
                  const eos = store.state.scatter.eos(store.state.network, Eos, eosOptions);
                  const transactionOptions = {authorization: [`${account.name}@${account.authority}`]};
                  console.log(memo,"memo")
                  let trx = await eos.transfer(account.name, "pythongolang", `${this.coin.toFixed(4)} EOS`, memo, transactionOptions).catch(this.showDealMsg);
                  if (!trx) {
                      return;
                  }  
                  let createinfo = {}
                  while(true)
                  {
                  let tableData = await eos.getTableRows({
                       json: true,
                       code: 'pythongolang',
                       scope: 'pythongolang',
                       table: 'bugyou',
                       limit: '200',
                      });
                   let rows = tableData.rows.filter((r) => {
                       return (r.player1 === account.name && r.time === timestamp);
                   });
                   if (rows.length === 0) {
                      console.log("获取数据失败")
                   }
                    if(rows.length > 0){
                   let createData = rows.pop()
                   store.commit('createdata', createData)
                   break}
  
                  }
                 this.$router.push({
                      path: '/create'
                  })
          }
        }
}
</script>  


<style>
.sp{
    position: absolute;
    margin-left: 191px;
    margin-top: 83px;
}
.creategame{
    background-color: floralwhite;
    position: absolute;
    width: 500px;
    height: 350px;
    left: 400px;
    top: -20px;
}
.in{
    position: absolute;
    width: 60px;
    top: 160px;
    left: 200px;
}
.start{
    position: absolute;
    left: 228px;
    top: 228px;
}



</style>
