<template>
<div style="background-color: #2222a2;height: 600px;">
<div>
<h3>点数</h3>
</div>
<div>
<img :src='"../images/" + noMyCard[0]  + ".png"' id="tr1"  v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location2[0].top.toString() + 'px',left: location2[0].left.toString() + 'px'}"></img>
<img :src='"../images/" + noMyCard[1]  + ".png"' id="tr2"  v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location2[1].top.toString() + 'px',left: location2[1].left.toString() + 'px'}"></img>
<img :src='"../images/" + noMyCard[2]  + ".png"' id="tr3"  v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location2[2].top.toString() + 'px',left: location2[2].left.toString() + 'px'}"></img>
<img :src='"../images/" + noMyCard[3]  + ".png"' id="tr4"  v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location2[3].top.toString() + 'px',left: location2[3].left.toString() + 'px'}"></img>
<img :src='"../images/" + noMyCard[4]  + ".png"' id="tr5"  v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location2[4].top.toString() + 'px',left: location2[4].left.toString() + 'px'}"></img>
<img :src='"../images/" + noMyCard[5]  + ".png"' id="tr6"  v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location2[5].top.toString() + 'px',left: location2[5].left.toString() + 'px'}"></img>


<img :src='"../images/" + myCard[0]  + ".png"' id="cr1" @mousedown="move" v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location[0].top.toString() + 'px',left: location[0].left.toString() + 'px'}"></img>
<img :src='"../images/" + myCard[1]  + ".png"' id="cr2" @mousedown="move" v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location[1].top.toString() + 'px',left: location[1].left.toString() + 'px'}"></img>
<img :src='"../images/" + myCard[2]  + ".png"' id="cr3" @mousedown="move" v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location[2].top.toString() + 'px',left: location[2].left.toString() + 'px'}"></img>
<img :src='"../images/" + myCard[3]  + ".png"' id="cr4" @mousedown="move" v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location[3].top.toString() + 'px',left: location[3].left.toString() + 'px'}" ></img>
<img :src='"../images/" + myCard[4]  + ".png"' id="cr5" @mousedown="move" v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location[4].top.toString() + 'px',left: location[4].left.toString() + 'px'}"></img>
<img :src='"../images/" + myCard[5]  + ".png"' id="cr6" @mousedown="move" v-bind:style="{position: 'absolute',width:'100px',height:'100px',top:location[5].top.toString() + 'px',left: location[5].left.toString() + 'px'}"></img>
</div>
<div>
           <div v-on:click="fight" class="kpbutton" style="position: absolute;left: 800px;top: 380px;font-size: 38px;">PK</div>
</div>
<div class="warn">
<p>请玩家完成配牌</p>
</div>
</div>
</template>
<script>
import store from '../store/'

export default {
       name:'fightcard',
        data: function(){
            let gameId = this.$route.params.id;
            let fightData = store.state.fightData
             if(!store.state.fightData){
                fightData = JSON.parse(window.localStorage.getItem('fightData'))
            }
            let noMeCards = ["53","53", "53", "53", "53", "53"]
            let meCards = fightData.card2
            if(meCards){
                meCards = meCards.substr(0, meCards.length - 1).split('|')
           }
           else {meCards = ['1','2','3','4', '5', '6'] }
           let cardDict = {};           
           for(var j = 0; j < meCards.length; j ++)  cardDict[meCards[j]] = j + 1;
           return {
                 zone:[{1:[135,190,220,305]},{2:[252,190,339,306]},{3:[138,314,220,423]},{4:[255,315,339,425]},{5:[140,436,219,543]},{6:[259,435,338,544]}],
                 coin: fightData.coin,
                 myCard: meCards,
                 noMyCard: noMeCards,
                 id: gameId,
                 meName: fightData.player2,
                 noMeName: fightData.player1,
                 cardDict,
                 cardLocation:[{left:450,top:50},{left:570,top:50},{left:450,top:170},{left:570,top:170},{left:450,top:290},{left:570,top:290}],
                 cardLocation2:[{left:100,top:50},{left:220,top:50},{left:100,top:170},{left:220,top:170},{left:100,top:290},{left:220,top:290}]
           }      
        },
       computed: {
            location: function(){
                      return this.cardLocation;
                  },
            location2: function(){
                      return this.cardLocation2;
                  }
       },
       methods:{
           fight: async function(){
               let seqs = ''
               for(var i = 0; i < this.myCard.length; i ++){
                   seqs += this.cardDict[this.myCard[i]]
               }
               const account = store.state.account;
               const eosOptions = {expireInSeconds: 60, verbose: false};
               const eos = store.state.scatter.eos(store.state.network, Eos, eosOptions);
               let trx = await eos.transaction(
               {
                       actions: [
                             {
                                 account: 'pythongolang',
                                 name: 'pk',
                                 authorization: [{
                                 actor: account.name,
                                 permission: 'active'
                                  }],
                        data: {
                            from: account.name,
                            id: this.id,
                            seq: seqs
                             }
                           }
                       ]
                })
                if (!trx) {
                    return;
                }
               
           },
           move(e){
                let from = this.getIndex(e.clientX,e.clientY)
                let odiv = e.target;    //获取目标元素
                //算出鼠标相对元素的位置
                let disX = e.clientX - odiv.offsetLeft;
                let disY = e.clientY - odiv.offsetTop;
                document.onmousemove = (e)=>{    //鼠标按下并移动的事件
                    //用鼠标的位置减去鼠标相对元素的位置，得到元素的位置
                    let left = e.clientX - disX;  
                    let top = e.clientY - disY;
                    //绑定元素位置到positionX和positionY上面
                    //移动当前元素
                    odiv.style.left = left + 'px';
                    odiv.style.top = top + 'px';
                 document.onmouseup = (e) => {
                     let to = this.getIndex(e.clientX,e.clientY)
                     if(from == -1 || to == -1 || from == to){
                         var styleFrom = document.getElementById("cr" + (from + 1).toString());
                         styleFrom.style.top = this.cardLocation[from].top.toString() + 'px';
                         styleFrom.style.left = this.cardLocation[from].left.toString() + 'px';
                     }
                     else{
                         let temp = this.myCard[to];
                         this.myCard[to] = this.myCard[from]
                         this.myCard[from] = temp; 
                         console.log(this.myCard)
                         var styleFrom = document.getElementById("cr" + (from + 1).toString());
                         var styleTo = document.getElementById("cr" + (to + 1).toString());
                         styleTo.style.top = this.cardLocation[from].top.toString() + 'px';
                         styleTo.style.left = this.cardLocation[from].left.toString() + 'px';
                         styleTo.id = "cr" + (from + 1).toString();
                         styleFrom.style.top = this.cardLocation[to].top.toString() + 'px';
                         styleFrom.style.left = this.cardLocation[to].left.toString() + 'px';
                         styleFrom.id = "cr" + (to + 1).toString();
                     }
                         document.onmousemove = null;
                         document.onmouseup = null;
                 };

                 };
           },
          getIndex(x, y){
              for(var i = 0; i < this.zone.length; i ++)
              {
                  let index = i + 1;
                  let di = this.zone[i]
                  if(x >= di[index][0] && x <= di[index][2] && y >= di[index][1] && y <= di[index][3])
                    return i;
              }
              return -1;
          } 
       }
}
</script>
<style>
.warn{
    position: absolute;
    left: 500px;
    top: 400px;
    font-size: 32px;
    color: #d9e426;
}
.kpbutton {
 display: inline-block;
 padding: .3em .5em;
 background-image: linear-gradient(#d0dc13, #1010e0);
 border: 1px solid rgba(0,0,0,.2);
 border-radius: .3em;
 box-shadow: 0 1px white inset;
 text-align: center;
 text-shadow: 0 1px 1px black;
 color:white;
 font-weight: bold;
  }
 .kpbutton:active{
 box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
 border-color: rgba(0,0,0,.3);
 background: #bbb;
 }
</style>
