<template>
   <div>
      <div class="create">
            <button class="cvs" v-on:click="readydomsg">创建游戏，让别人挑战我</button>
      </div>
      <div v-if="seen">
            <creategame> </creategame>
      </div>
      <div>
         <changle
            v-for="count in getdata"
            v-bind:key="count.id"
            v-bind:count="count"
         ></changle>
       </div>
  </div>

</template>


<script>
import changle from '../components/changle'
import creategame from '../components/creategame'

import store from '../store/'

export default {
      name:  'gamecomponent',
      components: {
                changle,
                creategame
        },
      data:function () {
            return {
          seen : false,
          counts: '' 
         }
      },
      computed: {
      getdata: function () {
           var c=''
           if(store.state.readyDetail.length == 0)
            c = JSON.parse(sessionStorage.getItem('state')).readyDetail
           else
            c= store.state.readyDetail
           return c 
    }
   },
      methods: {
      readydomsg: function () {
           this.seen = true;
          }
      }
     
}

</script>

<style>
.create{
    margin: auto;
    background-color: blue;
    height: 100px;
    width: 200px;
    margin-left: 567px;
    }
.cvs {position: absolute;
    right: 20px;
    left: 595px;
    top: 42px;}

</style>
