<template>
<div>
   <div>
     <h1>游戏介绍</h1>
   </div>
   <p>本游戏中文名:9点半,是推牌九的加强版，游戏模式是玩家和玩家互相对弈的五五开游戏，没有任何庄参与，玩家可以选择挑战别的人家，也可以自己创建游戏等别的玩家来挑战，下面介绍下游戏的玩法</p>
   <h1>游戏玩法</h1>
   <p>玩家的牌有eos主网自动发6张牌,6张牌玩家自由组合分成3组每组2张牌,玩家配好牌后,由玩家的第一组牌和另一玩家的第一组比大小，第二组和另一玩家的第二组PK，第三组和另一玩家的第三组PK，eos智能合约会一组一组为玩家结算3次,获胜者eos币及时到账，玩家当然要配成最有胜算的牌去和另一玩家PK,下面说下游戏规则</p>


   <li>扑克牌不包含大小王，剩下52张牌，说明下每张牌的点数: J，Q，K算半点，其他牌的点数等于牌的值，A是1点,2是2点,一直到10，都是自身的点数</li>

   <li> 玩家将牌分成3组，每组牌的点数由2张牌的点数之和，如果点数之和超过10点，需要一直减去10，每组牌最大的点数为 9点半</li>
   <li>玩家第一组和另一玩家第一组比大小，这一组牌点数大的玩家赢，如果2个玩家点数一样大，根据玩家持有的buff代币数量，代币越多概率越大，具体计算后面会介绍</li>
   <li>玩家自由组合牌时的配牌规则: 第一组的点数不能大于第二组的点数，第二组的点数不能大于第3组点数，另一玩家的也必须遵守该规则</li>

   <h1>其他注意事项</h1>
    <li>玩家创建游戏等其他玩家来挑战，如果24小时没人挑战，创建游戏的玩家可以领回自己的eos</li>
    <li>玩家发牌后，发现自己的牌不好,不想玩了，也不想自由组合来配牌，时间超过半小时的，系统一律视为输，另一玩家自动获胜</li>
    <li>创建游戏的玩家发牌后，也遵守规则，发了牌，必须等游戏完成，若24小时没人过来挑战可领回eos除外，其他不当作弊行为玩家eos不予退回</li>
</div>

</template>


<script>
export default {
}

</script>

<style>

</style>
