<template>
   <div>
      <h3>buff币有双重价值</h3>
      <li>兑换eos</li>
      <li>buff代币在玩家玩9点半游戏过程中，当双方每一组点数相同时，拥有的buff越多，获胜概率越大，从原有的50%胜率最高提高到65%</li>
   </div>

</template>


<script>
export default {
}

</script>

<style>

</style>
