<template>
  <div>
    <div class="header">
      <ul>
      <li>
      <router-link to="/game">
       游戏区
      </router-link>
      </li>
      <li>
      <router-link to="/me">
      玩家游戏记录
      </router-link>
      </li>
      <li>
      <router-link to="/rule">
       规则
      </router-link>
      </li>
      <li>
      <router-link to="/trade">
       挖矿交易区
      </router-link>
      </li>
      </ul>
        <p class="account">{{displayAccount}}</p>
        <div style="float:right;margin-right:100px;">
        <div v-if="loginseen">
        <button v-on:click="handleLogin" style="background: #191;">Scatter登录</button>
        </div>
        <div v-if="outseen">
        <button v-on:click="loginOut" style="background: #191;">退出</button>
        </div>
        </div>
      </div>
      <div class="content">
         <router-view></router-view>
      </div>

   </div>
</template>
<script>

import store from './store/'
 const network = {
               blockchain: 'eos',
               protocol: 'https',
               host: 'nodes.get-scatter.com',
               port: 443,
               chainId: 'aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906'
           };
          const APP_NAME = "cc_zjh";
          ScatterJS.plugins(new ScatterEOS);
          let scatter = '';
          ScatterJS.scatter.connect(APP_NAME,
          {
              initTimeout: 10000,
          })
          .then(connected => {
              scatter = ScatterJS.scatter;
              store.commit('setscatter', scatter)
              store.commit('setnetwork', network)
              store.commit('updatedata', network)
              let account = store.state.scatter.identity.accounts.find(x => x.blockchain === 'eos');
              store.commit('setaccount',account)
              window.ScatterJS = null;
         })
         .catch(err => {
             console.error(err);
         });
console.log("hhhhhhhhhhhhhhhhhhh")

export default {
  name: 'app',
  data:function () {
      return {
          accountname: '',
          outseen: false,
          loginseen: true,
       }
  },
  
  mounted () {
    window.addEventListener('unload', this.saveState)
   },
  computed: {
      displayAccount: function(){
          let updateAccout = ''
          if(store.state.account.name)
          {
              this.loginseen = false;
              this.outseen = true;
              updateAccout = store.state.account.name;
              this.accountname = updateAccout; 
          }          
          else{
              this.loginseen = true;
              this.outseen = false;
          }
          return updateAccout
      }
      
  },
  methods: {
  saveState:  function() {
      console.log(this.$store.state.account)
      sessionStorage.setItem('state', JSON.stringify(this.$store.state))
    },
  loginOut: function () {
            store.state.scatter.forgetIdentity();
            this.outseen = false;
            this.loginseen = true;
            store.commit('setaccount', '');
      },
   setLogined: function(){
       let account = store.state.scatter.identity.accounts.find(x => x.blockchain === 'eos');
       this.accountname = account.name;
       store.commit('setaccount', account);
       this.outseen=true;
       this.loginseen=false;
   },
   handleLogin: function() {
          const requiredFields = {accounts: [store.state.network]};

          if (!store.state.scatter.identity) {
               console.log("nononononono")
               store.state.scatter.getIdentity(requiredFields).then(this.setLogined)
               .catch(this.showLoginError);
          }
          else{
                this.setLogined()
          }
      }
    }
}
</script>
<style>
.header {background:#1919b9; color:;padding: 2px;padding-bottom: 80px;}
.header ul{list-style:none;}
.header li{float:left; list-style:none;width:100px;margin-left:3px;background: #191;}
.content {position: absolute;bottom: auto;width: 100%;margin-top: 35px;margin-left: 30px;}  	
.account {    position: absolute;
    left: 600px;
    top: 11px;}
</style>
